## Day4-2 : database
- SQL Server
- MySQL
- MariaDB
- PostgreSQL
- sqlite3 : 檔案型，單user使用DB
### No SQL
- MongoDB

In [1]:
import sqlite3
import time
import json

In [4]:
# initial local DB
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
cursor.execute('create table IF NOT EXISTS iot_table (time text NOT NULL, data text)')
conn.commit()
cursor.close()
conn.close()

In [5]:
# 寫入一筆資料

my_time = time.strftime("%Y-%m-%d %H:%M:%S") #2020-07-25 11:43:00
my_data =  {"H": 80, "T": 32}

my_data = json.dumps(my_data, sort_keys=True)

#- insert into local DB
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
cursor.execute("insert into iot_table (time, data) values('%s', '%s')" %(my_time, my_data))
cursor.close()
conn.commit()
conn.close()

In [6]:
# 取出全部

conn = sqlite3.connect('test.db')
cursor = conn.cursor()
# select last 5 rows
res = cursor.execute('SELECT * FROM iot_table')
rows = res.fetchall()

print(rows)

[('2020-07-22 18:47:01', '{"H": 90, "T": 32}'), ('2020-07-22 18:47:29', '{"H": 90, "T": 32}'), ('2020-07-22 18:50:07', '{"H": 80, "T": 32}'), ('2020-07-25 11:45:15', '{"H": 80, "T": 32}'), ('2020-07-25 11:45:50', '{"H": 80, "T": 32}')]

In [8]:
data_list = list(rows)

In [9]:
len(data_list)

5

In [10]:
data_list

[('2020-07-22 18:47:01', '{"H": 90, "T": 32}'),
 ('2020-07-22 18:47:29', '{"H": 90, "T": 32}'),
 ('2020-07-22 18:50:07', '{"H": 80, "T": 32}'),
 ('2020-07-25 11:45:15', '{"H": 80, "T": 32}'),
 ('2020-07-25 11:45:50', '{"H": 80, "T": 32}')]

- 取得最新一筆資料

In [11]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
# select last 5 rows
res = cursor.execute('SELECT * FROM iot_table ORDER BY time DESC LIMIT 1')
rows = res.fetchall()

print(rows)

[('2020-07-25 11:45:50', '{"H": 80, "T": 32}')]

In [ ]:
# remove rows

for row in rows:
    #print('delete:', row)
    res = cursor.execute("DELETE FROM iot_table WHERE time = '%s'" %(row[0]))
cursor.close()
conn.commit()
conn.close()

print('rows:', rows)

### 試著把空氣品質資料寫入DB中

### 排程: 把空氣品質資料寫入DB中

### 把資料讀出來，並繪成趨勢圖 (下午)